<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Projekti">
    <meta name="keywords" content="Projekti">
    <meta name="author" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking Javascript and CSS -->
    <link href="../../Styles/style.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="#" type="#" />
    <title>Tiimi</title>
</head>
<body>

<header>
    <!-- Navigation links -->
    <div class="wrapper head">
        <div class="menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul id="Navigation">
                <li><a href="../../index.html">Etusivu</a></li>
                <li><a href="../../ajanvaraus.html">Ajanvaraus</a></li>
                <li><a href="../../index.html#contact">Yhteystiedot</a></li>
                <li><a href="/posts/all">Ilmoitukset</a></li>
            </ul>
        </nav>
    </div>

    <article class="topbanner">
        <div class="container">
            <div class="topban">
                <i class="fas fa-paw"></i>
                <h1> — Ilmoitukset — </h1>
                <h3></h3>
                <i id="second" class="fas fa-paw"></i>
            </div>
        </div>
    </article>

</header>

<!-- Basic layout -->

<div class="grid-item-contact">
    <form class="form" id="form2">
        <h3 class="title3">Hae ilmoittajan yhteystiedot heidän nimellä.</h3>
        <div class="form-input" id="form3" onkeydown="return event.key != 'Enter';">
            <span><i class="fa fa-user"></i></span>
            <input type="text" name="name" placeholder="Nimi" autocapitalize="on" required="true" id="asdf1">
        </div>
        <input class="btn-sub" type="button" onclick="XD()" value="Hae">
    </form>
</div>

<center>
<div class="grid-item">
    <h3> Ei löytynyt </h3>
</div>
</center>
<!-- Footer  -->
<footer class="footer">
    <div class="wrapper">
        <div class="s-media">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
</footer>

<script src="../../JS/about.js" type="text/javascript"></script>
<script src="../../JS/tyontekijat.js" type="text/javascript"></script>
</body>
</html>